{% extends "base.html" %}
{% block content %}
<script>
    function loadFile(event, type) {
        var output = document.getElementById(`${type}-output`);
        var upload = document.getElementById(`${type}-upload`);
        output.src = URL.createObjectURL(event.target.files[0]);
        upload.style.display = "none";
        output.onload = function () {
            URL.revokeObjectURL(output.src); // free memory
        };
    }
</script>
<div class="flex flex-col justify-center">
    <h1 class="text-2xl font-bold text-center mb-2">Associati</h1>
    <form enctype="multipart/form-data" method="POST" action="/add"
        class="bg-gray-100 border dark:bg-neutral-800 border-neutral-900/10 dark:border-slate-400/50 rounded shadow flex flex-col p-4">
        <div class="border-b border-netural-900/10 dark:border-slate-400/50 pb-4">
            <div class="grid sm:grid-cols-2 sm:gap-y-2 sm:gap-x-4 sm:mb-2">
                <div>
                    <label for="name" class="font-medium"> Nome </label>
                    <input type="text" name="name" id="name" required="" />
                </div>
                <div>
                    <label for="surname" class="font-medium"> Cognome </label>
                    <input type="text" name="surname" id="surname" required="" />
                </div>
            </div>
            <div class="grid sm:grid-cols-2 sm:gap-y-2 sm:gap-x-4 sm:mb-2">
                <div>
                    <label for="birthdate" class="font-medium"> Data di Nascita </label>
                    <input type="text" name="birthdate" id="birthdate" required="" />
                </div>
                <div>
                    <label for="birthplace" class="font-medium"> Luogo di Nascita </label>
                    <input type="text" name="birthplace" id="birthplace" required="" />
                </div>
            </div>
            <div class="grid sm:grid-cols-2 sm:gap-y-2 sm:gap-x-4 sm:mb-2">
                <div>
                    <label for="fiscalcode" class="font-medium"> Codice Fiscale</label>
                    <input type="text" name="fiscalcode" id="fiscalcode" required="" />
                </div>
                <div>
                    <label for="nationality" class="font-medium"> Nazionalità </label>
                    <input type="text" name="nationality" id="nationality" required="" />
                </div>
            </div>
            <div>
                <label for="job" class="font-medium"> Professione/Area di Interesse</label>
                <input type="text" name="job" id="job" required="" />
            </div>
            <div class="grid sm:grid-cols-2 w-full mt-5 sm:gap-y-2 sm:gap-x-4">
                <div>
                    <span class="font-medium"> Fronte del documento di Identità </span>
                    <label id="front-upload" for="dropzone-file" class="flex flex-col justify-center items-center w-full h-32 rounded
                        bg-gray-50 hover:bg-gray-100 dark:bg-neutral-900 dark:hover:bg-neutral-800
                        border-2 border-neutral-900/10 dark:border-slate-400/50 border-dashed
                        cursor-pointer">
                        <div class="flex flex-col justify-center items-center py-5">
                            <svg aria-hidden="true" class="mb-3 w-10 h-10 text-gray-400" fill="none"
                                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12">
                                </path>
                            </svg>
                            <p class="text-sm">
                                <span class="font-semibold">Clicca per caricare</span> il fronte del documento
                            </p>
                            <p class="text-xs">
                                SVG, PNG, JPG or GIF (MAX. 800x400px)
                            </p>
                        </div>
                        <input accept="image/*" id="dropzone-file" type="file" name="file" class="hidden"
                            onchange="loadFile(event,'front')" />
                    </label>
                    <label class="group" for="dropzone-file">
                        <img class="rounded" id="front-output" />
                    </label>
                </div>
                <div>
                    <span class="font-medium"> Retro del documento di Identità </span>

                    <label id="rear-upload" for="dropzone-file-rear" class="flex flex-col justify-center items-center w-full h-32 rounded
                        bg-gray-50 hover:bg-gray-100 dark:bg-neutral-900 dark:hover:bg-neutral-800
                        border-2 border-neutral-900/10 dark:border-slate-400/50 border-dashed
                        cursor-pointer">
                        <div class="flex flex-col justify-center items-center py-5">
                            <svg aria-hidden="true" class="mb-3 w-10 h-10 text-gray-400" fill="none"
                                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12">
                                </path>
                            </svg>
                            <p class="text-sm">
                                <span class="font-semibold">Clicca per caricare</span> il retro del documento
                            </p>
                            <p class="text-xs">
                                SVG, PNG, JPG or GIF (MAX. 800x400px)
                            </p>
                        </div>
                        <input accept="image/*" id="dropzone-file-rear" type="file" name="file" class="hidden"
                            onchange="loadFile(event,'rear')" />
                    </label>
                    <label for="dropzone-file-rear">
                        <img class="rounded" id="rear-output" />
                    </label>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-2 sm:gap-y-2 gap-x-4 pt-4">
            <div class="col-span-2">
                <label for="address" class="font-medium"> Indirizzo</label>
                <input type="text" name="address" id="address" required="" />
            </div>
            <div>
                <label for="cap" class="font-medium"> CAP </label>
                <input type="text" name="cap" id="cap" required="" />
            </div>
            <div>
                <label for="city" class="font-medium"> Città </label>
                <input type="text" name="city" id="province" required="" />
            </div>
            <div>
                <label for="province" class="font-medium"> Provincia (es. RM) </label>
                <input type="text" name="province" id="province" required="" />
            </div>
            <div>
                <label for="nation" class="font-medium"> Nazione </label>
                <input type="text" name="nation" id="nation" required="" />
            </div>
        </div>
        <button type="submit"
            class="w-full mt-5 rounded-md border-y border-transparent bg-red-600 py-1 px-2 text-sm font-semibold text-white shadow hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-300 focus:ring-offset-2 dark:hover:bg-red-400 dark:focus:ring-red-700 dark:focus:ring-offset-neutral-900">
            associati
        </button>
    </form>
</div>
{% endblock %}