{% extends "base.html" %}
{% block content %}
<script src="https://js.stripe.com/v3/"></script>
<div class=" flex flex-col gap-y-4 w-full">
    <div
        class="bg-gray-100 border dark:bg-neutral-800 shadow-lg border border-neutral-900/10 dark:border-slate-400/50 p-4 rounded w-full">
        <div class=" flex justify-between">
            <div class="flex gap-x-2">
                <div class="h-8 w-8 bg-red-600 rounded border border-neutral-900/10 dark:border-slate-400/50"></div>
                <h3 class="font-medium">Quota di associazione annuale</h3>
            </div>
            <span class="text-sm">$20</span>

        </div>
        <form class="pb-2 sm:pb-4 border-b border-neutral-900/10 dark:border-slate-400/50 w-full"
            onsubmit="event.preventDefault(); applyCouponCode();">
            <div class="mt-2 grid grid-cols-4 gap-x-2 text-base">
                <input type="text" id="coupon" placeholder="coupon code" class="col-span-3" required />
                <button type="submit" id="couponApplyButton"
                    class="text-white bg-red-600 disabled:bg-red-500 rounded px-2 py-1 col-span-1">
                    apply
                </button>
            </div>
        </form>
        <div>
            <div class="pt-2 sm:pt-2 flex justify-between text-base font-semibold text-black dark:text-white">
                <span>Subtotal</span>
                ${ order.subtotal }
            </div>
            <div class="flex justify-between text-base ">
                <span>Discount</span>
                <div class="flex">
                    $<span id="discount">{ order.coupon.discount }</span>
                </div>
            </div>
            <div class="flex justify-between text-base font-semibold text-black dark:text-white">
                <span>Total</span>
                <div class="flex">
                    $<span id="total">{ order.total }</span>
                </div>
            </div>
        </div>
        <p class="mt-0.5 text-xs">
            Payments are processed by Stripe and governed by its
            <a href="https://stripe.com/privacy">privacy policy</a>
        </p>

    </div>
    <form data-secret="{{ client_secret }}"
        class="bg-gray-100 border dark:bg-neutral-800 p-4 rounded shadow-lg mx-auto border border-neutral-900/10 dark:border-slate-400/50 w-full"
        id="payment-form">
        <div id="payment-element">
            <!--Stripe.js injects the Payment Element-->
        </div>
        <button class="text-white w-full py-3 px-5 rounded bg-red-600 hover:bg-red-700" id="submit">
            <div class="spinner hidden" id="spinner"></div>
            <span id="button-text">Pay now</span>
        </button>
        <div id="error-message" class="text-red-500 text-center">
            <!-- Display error message to your customers here -->
        </div>
        <div id="payment-message" class=""></div>
    </form>
</div>
<script>
    "use strict";
    // Show a spinner on payment submission
    function setLoading(isLoading) {
        if (isLoading) {
            // Disable the button and show a spinner
            document.querySelector("#submit").disabled = true;
            document.querySelector("#spinner").classList.remove("hidden");
            document.querySelector("#button-text").classList.add("hidden");
        } else {
            document.querySelector("#submit").disabled = false;
            document.querySelector("#spinner").classList.add("hidden");
            document.querySelector("#button-text").classList.remove("hidden");
        }
    }
    function showMessage(messageText) {
        const messageContainer = document.querySelector("#payment-message");

        messageContainer.classList.remove("hidden");
        messageContainer.textContent = messageText;

        setTimeout(function () {
            messageContainer.classList.add("hidden");
            messageText.textContent = "";
        }, 4000);
    }
    async function checkStatus() {
        const clientSecret = new URLSearchParams(window.location.search).get(
            "payment_intent_client_secret"
        );

        if (!clientSecret) {
            return;
        }

        const { paymentIntent } = await stripe.retrievePaymentIntent(
            "{{client_secret}}"
        );

        switch (paymentIntent.status) {
            case "succeeded":
                showMessage("Payment succeeded!");
                break;
            case "processing":
                showMessage("Your payment is processing.");
                break;
            case "requires_payment_method":
                showMessage("Your payment was not successful, please try again.");
                break;
            default:
                showMessage("Something went wrong.");
                break;
        }
    }

    const stripe = Stripe(
        "pk_test_51KC7zmBxNG2SMGYbYJ3Ty7LCG7FgaxdyOVDjZFJ8e8JJOZECxb0Z5uWur6sp7IrTDrA7pbhd4Ymiyy2G9P7xZGyi009qdr4oHw"
    );
    checkStatus();
    const options = {
        clientSecret: "{{client_secret}}",
        appearance: {
            theme: "stripe",
            variables: {
                colorPrimary: "#dc2626",
                fontFamily: "Barlow",

            },

        },
        fonts: [
            {
                cssSrc:
                    "https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap",
            },
        ],
    };
    // bg-gray-50 dark:bg-slate-700/20
    if (localStorage.theme == "dark") {
        options.appearance.variables.colorText = '#d1d5db'
        options.appearance.variables.colorBackground = '#171717'
    }
    else {
        options.appearance.variables.colorText = '#374151'
        options.appearance.variables.colorBackground = '#f9fafb'
    }
    const elements = stripe.elements(options);
    const paymentElement = elements.create("payment");
    paymentElement.mount("#payment-element");

    const form = document.getElementById("payment-form");
    form.addEventListener("submit", async (event) => {
        setLoading(true);

        event.preventDefault();

        const { error } = await stripe.confirmPayment({
            elements,
            confirmParams: {
                return_url: "{{ return_url }}",
            },
        });

        if (error) {
            const messageContainer = document.querySelector("#error-message");
            messageContainer.textContent = error.message;
            setLoading(false);
        }
    });
    couponApplyButton = document.getElementById("couponApplyButton");

    function applyCouponCode() {
        discount = document.getElementById("discount");
        coupon = document.getElementById("coupon").value;
        couponMessage = document.getElementById("couponMessage");
        couponMessage.innerText = "";
        total = document.getElementById("total");
        fetch("/coupon", {
            method: "POST",
            credentials: "include",
            headers: {
                Accept: "application/json",
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                coupon,
            }),
        })
            .then((response) => {
                if (response.ok) {
                    return response.json();
                } else {
                    couponMessage.innerText = "something went wrong, try again please";
                    throw new Error("something went wrong");
                }
            })
            .then((json) => {
                discount.innerText = (total.innerText / 100) * json.msg;
                total.innerText = total.innerText - discount.innerText;
                couponApplyButton.disabled = true;
            })
            .catch((error) => {
                console.log(error);
            });
    }
</script>
<style type="text/tailwindcss">
    #payment-message {
        color: rgb(105, 115, 134);
        font-size: 16px;
        line-height: 20px;
        padding-top: 12px;
        text-align: center;
    }

    #payment-element {
        margin-bottom: 24px;
    }

    /* spinner/processing state, errors */
    .spinner,
    .spinner:before,
    .spinner:after {
        border-radius: 50%;
    }

    .spinner {
        color: #ffffff;
        font-size: 22px;
        text-indent: -99999px;
        margin: 0px auto;
        position: relative;
        width: 20px;
        height: 20px;
        box-shadow: inset 0 0 0 2px;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
    }

    .spinner:before,
    .spinner:after {
        position: absolute;
        content: "";
    }

    .spinner:before {
        width: 10.4px;
        height: 20.4px;
        background: rgb(63 63 70);
        border-radius: 20.4px 0 0 20.4px;
        top: -0.2px;
        left: -0.2px;
        -webkit-transform-origin: 10.4px 10.2px;
        transform-origin: 10.4px 10.2px;
        -webkit-animation: loading 2s infinite ease 1.5s;
        animation: loading 2s infinite ease 1.5s;
    }

    .spinner:after {
        width: 10.4px;
        height: 10.2px;
        background: rgb(63 63 70);
        border-radius: 0 10.2px 10.2px 0;
        top: -0.1px;
        left: 10.2px;
        -webkit-transform-origin: 0px 10.2px;
        transform-origin: 0px 10.2px;
        -webkit-animation: loading 2s infinite ease;
        animation: loading 2s infinite ease;
    }

    @-webkit-keyframes loading {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @keyframes loading {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @media only screen and (max-width: 600px) {
        form {
            width: 80vw;
            min-width: initial;
        }
    }
</style>
{% endblock %}