{% extends "base.html" %}
{% block content %}
    <article class="relative ">
        <h1 class="text-4xl font-extrabold  text-slate-900 dark:text-slate-200 md:text-5xl">{{ meta.title[0] }}</h1>
        <div class="text-sm leading-6">
            <time datetime="2022-09-09T16:24:00.000Z">{{ meta.date[0] }}</time>
        </div>
        <div class="mt-2">
            <ul class="flex flex-wrap text-sm leading-6 -mt-6 -mx-5">
                <li class="flex items-center font-medium whitespace-nowrap px-5 mt-6">
                    <img src="/static/costa.jpg"
                         alt=""
                         class="mr-3 w-9 h-9 rounded-full bg-slate-50 dark:bg-slate-800"/>
                    <div class="text-sm leading-4">
                        <div class="text-slate-900 dark:text-slate-200">{{ meta.author[0] }}</div>
                        <div class="mt-1">
                            <a href="/" class="text-red-500 hover:text-red-600 dark:text-red-400">@{{ meta.nickname[0] }}</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="mt-6 text-justify prose  prose prose-dark dark:prose-invert max-w-none">{{ post|safe }}</div>
    </article>
{% endblock %}
